.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 20px;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    width: 100%;
    height: 10%;
    z-index: 10;
}