.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 20px;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    width: 100%;
    height: 10%;
    z-index: 10;
}

.footer{
    display: none;
}


.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    gap: 30px;
}

.button {
    background-color: var(--button-background-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: scale 0.1s;
}

.button:hover {
    scale: 1.03;
}

.button:active {
    scale: 0.97;
}

@media (max-width: 600px) {
    .icons{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: var(--secondary-background-color);
        color: var(--text-color);
        width: 100%;
        height: 10%;
        z-index: 10;
        justify-content: space-around;
    }
}

@media (max-height: 500px) {
    .header{
        height: 18%;
    }
    .footer{
        height: 18%;
    }
}


.icon{
    width: 40px;
    height: 40px;
    max-height: 90%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: scale 0.1s;
}

.icon:hover {
    scale: 1.1;
}

.icon:active {
    scale: 0.9;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(80%);
    }
}