.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 1;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    width: 450px;
    aspect-ratio: 3 / 4.3;
    box-sizing: border-box;
    padding: 30px;
    background: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.login-form h2{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
}

.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
}

.login-form button{
    width: 100%;
    padding: 12px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: scale 0.1s;
}

.login-form button:hover {
    scale: 1.01;
}

.login-form button:active {
    scale: 0.99;
}

.login-form label{
    align-self: flex-start;
    color: var(--text-color);
    font-size: 110%;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

.error-text{
    color: red;
    font-size: 0.9em;
    margin-left: 5px;
    align-self: flex-start;
}

.sites-links{
    font-size: 0.8em;
    display: flex;
    gap: 15px;
}

@media (max-width: 600px) {
    .login-form{
        width: 90%;
    }
}

@media (max-height: 650px) {
    .login-form{
        height: 95%;
        overflow-y: scroll;
    }

    .login-form h2{
        font-size: 1.3em;
    }

    .login-form input{
        padding: 10px 12px;
        font-size: 0.8em;
    }

    .login-form label{
        font-size: 90%;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .error-text{
        font-size: 0.8em;
    }
}